<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- responsiveness -->
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">


  <title>Faeree - Your street cleaning fairy </title>
</head>
<body>
  <div class="ui vertical masthead center aligned segment">

  <br>
  <div id='page-content' class="ui text container">
    <h1 id='splash-header' class="ui header">
      Passionate about not getting street sweeping tickets?
    </h1>
      <h2 class="ui olive header" >
        Faeree is here to help SF folks keep those $66
      </h2>
    <br>
      <div class="ui middle aligned center aligned grid">
        <div id="splash-col" class="column splash-column">
          <div class="ui top attached tabular menu">
            <% if @signup_errors %>
              <a class="item" data-tab="first">Login</a>
              <a class="active item" data-tab="second">Signup</a>
            <% else %>
              <a class="active item" data-tab="first">Login</a>
            <a class="item" data-tab="second">Signup</a>
            <% end %>
          </div>
            <% if @signup_errors %>
              <div class="ui bottom attached tab segment" data-tab="first">
            <% else %>
              <div class="ui bottom attached tab segment active" data-tab="first">
            <% end %>
            <form id="login" method="post" action="main/session_create" class="ui large form">
              <div class="field">
                <div class="ui left icon input">
                  <i class="phone icon"></i>
                  <input <input type="tel" name="phone" id="login_phone" placeholder="Phone Number" novalidate>
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" name="password" placeholder="Password" pattern="[0-9]*">
                </div>
              </div>
              <input type="submit" value="Login" class="ui fluid large primary submit button">
            </form>
          </div>
          <% if @signup_errors %>
            <div class="ui bottom attached tab segment active" data-tab="second">
          <% else %>
            <div class="ui bottom attached tab segment" data-tab="second">
          <% end %>
            <form id="signup" method="post" action="/users" class="ui large form">
              <div class="field">
                <div class="ui left icon input">
                  <i class="smile icon"></i>
                  <input type="text" name="name" id="signup_name" placeholder="Name" value="<%= !!@user ? @user.name : "" %>">
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="at icon"></i>
                  <input type="email" name="email" id="signup_email" placeholder="Email address" value="<%= !!@user ? @user.email : "" %>" >
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="phone icon"></i>
                  <input type="tel" name="phone" id="signup_phone" placeholder="Phone number" value="<%= !!@user ? @user.phone : "" %>" novalidate>
                </div>
              </div>
              <div class="field">
                <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" name="password" placeholder="6 numbers password" pattern="[0-9]*" novalidate>
                </div>
              </div>
              <input type="submit" value="Join" class="ui fluid large green button">
            </form>
        </div>
        <% if !!@user %>
          <% @user.errors.full_messages.each do |msg| %>
            <div class="ui error small icon message left aligned "> 
              <i class="warning icon"> </i>
              <div class="left aligned content">
               <p><%= msg %></p>  
              </div>
             </div>
          <% end %>
        <% end %>
    </div>
  </div>
  <br>
    
  <br>
  <div>
    <img class="ui fluid image" id="footer-img" src="http://i.imgur.com/jbt6SuK.png" >
  </div>
</div>
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


<script>
  $('.menu .item').tab();
</script>
</body>
</html>
