<!DOCTYPE html>
<html lang="en">
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <title>Faeree</title>

  <!-- responsiveness -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- mapbox -->
  <link rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css'/>

</head>
<body>
  <div id="sidebar" class="ui inverted labeled icon left inline vertical sidebar menu">
    <a class="item" id="sidebar-options" href="#">
      <i class="send outline icon"></i>
      Tell friends
    </a>
    <a class="item" id="sidebar-notifications" href="#">
      <i class="alarm outline icon"></i>
      Notifications
    </a>
    <a class="item" id="sidebar-history" href="#">
      <i class="history icon"></i>
      History
    </a>
    <a class="item" id="sidebar-settings" href="/settings">
      <i class="settings icon"></i>
      Settings
    </a>
    <a class="item" id="sidebar-logout" href="main/session_destroy">
      <i class="external icon"></i>
      Logout
    </a>
  </div>
  <div class="pusher">
    <div id="headerbar" class="ui large borderless primary top attached menu">
      <div class="left menu">
        <a class="center aligned item">
          <i class="sidebar icon"></i>
        </a>
      </div>
      <div class="center menu">
        <span class="item">
          <%= image_tag 'white_logo.png', class: "ui tiny image" %>
        </span>
      </div>
      <div class="right menu">
        <a class="item">
          <i class="share icon"></i>
        </a>
      </div>
    </div>
    <div id="navbar" class="ui three item secondary pointing large blue bottom attached menu">
      <%= link_to new_event_path, class:"item", id:"navbar-park" do %>
        <i class="car icon"></i> Park
      <% end %>
      <a class="item" id="navbar-dashboard" href="/">
      <i class="dashboard icon"></i>
        Dashboard
      </a>
      <a class="item" id="navbar-options" href="/options">
      <i class="options icon"></i>
        Options
      </a>
    </div>

    <div id="page-content" class="ui container ">
      <%= yield %>
    </div>

  </div>



  <script>
    $('.top.menu').children().first().on('click', function(){
      $('.ui.sidebar').sidebar('toggle');
    });
  </script>

</body>
</html>
